.grocery-card{
    width: 30%;
    /* border: 1px solid gray; */
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
}

.grocery-card:hover{
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.g-card-first{
    width: 30%;
}

.g-card-img {
    width: 100%;
    border-radius: 15px;
}

.g-card-content{
    width: 70%;
}